.dashboard-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.dashboard-form {
  width: 500px;
  background: #4d6379;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.dashboard-form h2 {
  text-align: center;
  font-size: 26px;
  margin-bottom: 15px;
  color: white;
}

.dashboard-form label {
  font-size: 15px;
  font-weight: 600;
  color: white;
  margin-top: 5px;
}

.dashboard-form input,
.dashboard-form select {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 14px;
  background-color: #f8fafc;
  transition: 0.3s;
}

.dashboard-form input:focus,
.dashboard-form select:focus {
  outline: none;
  border: 1px solid #4d6379;
  box-shadow: 0px 0px 6px rgba(77, 99, 121, 0.3);
  background-color: white;
}

.dashboard-form button {
  margin-top: 15px;
  margin-left: 25%;
  width: 50%;
  padding: 14px;
  background: rgba(9, 1, 30, 0.308);
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.dashboard-form button:hover {
  opacity: 0.9;
  transform: translateY(-2px);
  background: rgba(9, 1, 30, 0.308);
}

.dashboard-form a {
  color: #4d6379;
  text-decoration: none;
  font-weight: 500;
  text-align: center;
  font-size: 17px;
}

.dashboard-form a:hover {
  text-decoration: underline;
}


.meta-card {
  width: 350px;
  margin: 30px auto;
  padding: 25px;
  border-radius: 12px;
  background: white;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.meta-card h2 {
  margin-bottom: 20px;
  color: #333;
}

.meta-list {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.meta-list li {
  margin: 8px 0;
  font-size: 18px;
}

/* Barra de progreso */

.progress-container {
  width: 100%;
  height: 20px;
  background: #e5e5e5;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 10px;
}

.progress-bar {
  height: 100%;
  background: linear-gradient(90deg, #4CAF50, #81C784);
  width: 0%;
  transition: width 0.6s ease;
}

.progress-text {
  font-weight: bold;
  margin-bottom: 20px;
}

/* input agregar dinero */

.add-money {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.add-money input {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 120px;
}

.add-money button {
  padding: 8px 14px;
  border: none;
  background: #4CAF50;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.add-money button:hover {
  background: #43a047;
}
